.bgc-gradient {
  background:
    radial-gradient(
      circle farthest-corner
      at 10% 20%,
      rgba(230, 115, 1, 0.68) 21.4%,
      rgba(255, 78, 78, 1) 80.3%
    );
}

.bgc-gradient-2 {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

.bgc-gradient-3 {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.bgc-gradient-4 {
  background-color: #655d72;
  background-image: linear-gradient(147deg, #655d72 0%, #898196 74%);
}

.hidden {
  display: none;
}

.font-lg {
  font-size: 4rem;
}

input[type="file"]::file-selector-button {
  color: black;
  padding: 0.2em 0.4em;
  border: thin solid black;
  border-radius: 10px;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #444b4b;
  border: 2px solid #00cec9;
}

.all-height {
  height: 100%;
}

.height500 {
  height: 500px;
}

.bg-gradient-nav {
  background: linear-gradient(rgb(11, 13, 14), rgba(33, 37, 41, 0.082));
}

.box-sh-b {
  box-shadow: 1px 6.1px 6.1px rgba(17, 17, 17, 0.41);
}

.hover-red:hover {
  color: red;
}

.hover-green:hover {
  color: green;
}

.max-height-100px {
  max-height: 100px;
}

.max-height-125px {
  max-height: 125px;
}

.max-height-450px {
  max-height: 450px;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
}

.pos-relative {
  position: relative;
}

.object-contain {
  object-fit: cover;
  object-position: top;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-white:hover {
  color: white;
}

.hover-blue:hover {
  color: rgb(25, 107, 230);
}

.svg-edit:hover {
  height: 50px;
  width: 50px;
}
